*{
    font-family: 'Montserrat', sans-serif;
    transition: .2s;
}


.navbar{
    width: inherit;
    
}




.login-false{
    background-color: transparent;
}

.login-true, .Dashboard, .tab-wrapper{
    background-color: #1b1b20;
}

.nav-logo{
    font-size: 18px;
}

.search-input, .signup-input, .file-name-input, .project-desc{
    background-color: transparent;
    transition: .3s;
    display: table-cell;
    font-size: inherit;
    border: none;
    box-shadow: none;
    height: inherit;
}
.lbar{
  vertical-align: middle;  
}
.search-wrapper:hover, .project-desc:hover, .project-title:hover{
    background-color: #1b1b20;
}
input{
    opacity: .5;
}
input:hover{
    opacity: .7;
}

#root{
    overflow: hidden;
    max-height: 50%;
}
.editor, .ace_scroller{
    max-height: 95%;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    background-color: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
  outline: 0 none;
  transition: .3s;
  opacity: 1;
}
.project-link{
    background: transparent;
}

.project-link:focus{
    border: 1px solid #0d6efd;
    color:#ffffff;
    background-color:#0d6dfdb0; 
    opacity: 1;
}

.project-link:hover{
    background-color: #1b1b20;
}
.search-select, .profile-icon, .add-btn, .type-select{
    padding: 5px;
    height: inherit;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: #ffffff;
    margin: 5px;
    text-align: center;
    border: 1px solid #2b2b2e;
    border-radius: inherit;
    width: 35px;
    opacity: .5;
}

#root{
    height: 100vh;
}

.profile-icon{
    opacity: 1;;
}
.search-select:hover{
    opacity: 1;
}

.project-desc:hover{
    background-color: #1b1b20;
    max-height: 50%;
    overflow: hidden;
}
.project-desc:focus{
    max-height: 100%;
    overflow: scroll;
}

.project-panel{
    overflow-x: hidden;
    overflow-y: auto;

}

.add-btn{
    border: 1px solid #2b2b2e; 
    color: white;
}
.list-group-item,.search-wrapper,.account-card, .account-wrapper, .list-project, .new-project-wrapper{
    vertical-align: middle;
    background-color: #1b1b20;
    border: 1px solid #2b2b2e;
    height: inherit;
    cursor: pointer;
    
}



select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last:center;
    
}

.section{
    width: 100%;
    height: 100%;
    /* background-color: #16161a; */
}

.search-form{
    width: 50%;
}



.signup-section{
    background-color: white;
}

.signup-form{
    width: 50%;
}



.false{
    border: 1px solid #2b2b2e;
}

.status{
    width: 25%;
    height: 25px;
    border-radius: inherit;
    position: relative;
    font-size: 12px;
    line-height: 25px;
left: 10%;
top: 6px;
float: left;}

.false{
    width: 0px;
    left: 0%;
    overflow: hidden;
    border: 1px solid #ffffff00;
    background-color:rgba(158, 202, 162, 0);
    color: #ffffff00; 
}



.valid{
    border: 1px solid #008607;
    background-color:rgba(158, 202, 162, 0.788);
    color: #008607; 
}

.wrong{
    border: 1px solid #860000;
    background-color:rgba(231, 152, 152, 0.788);
    color: #860000;
}

.nav-link{
    border: 1px solid #9c9c9c;
    margin: 5px;
    color:#9c9c9c;
    background-color:rgba(226, 226, 226, 0.788);
    border-radius: 5px;
    opacity: .5;
}.nav-link:hover{
    color: inherit;
opacity: 1;

}

.regActive{
    border: 1px solid #0d6efd;
    color:#ffffff;
    background-color:#0d6dfdb0; 
    opacity: 1;
}



a,a:hover{
    cursor: pointer;
    color: inherit;
}



.projects-library-wrapper{
    display: flex;
    background-color: #16161d;
    height: 100%;
}

.select-active{
    border: 1px solid #0d6efd;
    color:#ffffff;
    background-color:#0d6dfdb0; 
    color: white;
}

.list-project:hover{
    background-color: #1e1e27;
}

.project-tabs{
    max-height: 100%;
    overflow: scroll;
}
.regActive:hover, .select-active:hover{
    color: white;
    background-color:#0d6dfd;
}

.list-group, .project-tabs{
    overflow: hidden;
}

.nav-tabs{
    background-color: #16161d;
}

.dash-tab{
    opacity: 1;
    background-color: #1b1b20;
}
.newProjectModal{
    z-index: 999;
    position: fixed;
    width: 50%;
    left: 50%;
top: 30%;
transform: translate(-50%,-50%);
background-color: #16161d;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.modal-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 333;
}

.project-title{
    width: 100%;
    height: inherit;
    font-size: 25px;
    background-color: #16161d;
    outline: none;
    border: none;
}

.type-select{
width: 50px;;
}


.user-modal{
    position: absolute;;
  z-index: 999999999999999999999;
  top: 155%;
  width: 300px;
  left: 50%;
  margin-left: -250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user-modal::after{
    content: " ";
  position: absolute;
  top: 0%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: 32%;
  border-width: 5px;
  border-style: solid;
  border-color: #0d6dfd transparent transparent transparent;
}

.card-header{
    background-color: transparent;
}


.control-panel-wrapper{
    background-color:#030913;
}

.file-sidebar{
    max-width: 300px;
    background-color: rgb(211, 211, 211);
}

@media only screen and (max-width: 600px) {
    .signup-form{
        width: 100%;
    }

    .nav-logo{
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    .regActive{
        background-color:#0d6dfd;
        opacity: 1;
    }

    .search-form{
        width: inherit;
    }

    .project-search{
        display: none;
    }
    .projects-library-wrapper{
        display: block;
    }
    .project-tabs{
        max-height: 150px;
        overflow: scroll;
    }

    .modal-bg, .account-text{
        display: none;
    }
  }