*{
    font-family: 'Montserrat', sans-serif;
    transition: .2s;
}


.navbar{
    width: inherit;
    
    
}




.login-false{
    background-color: transparent;
}

.login-true, .Dashboard{
    background-color: #1b1b20;
}

.nav-logo{
    font-size: 18px;
}

.search-input, .signup-input{
    background-color: transparent;
    transition: .3s;
    display: table-cell;
    font-size: inherit;
    border: none;
    box-shadow: none;
    height: inherit;
}
.lbar{
  vertical-align: middle;  
}
.search-wrapper:hover{
    background-color: #1b1b20;
}
input{
    opacity: .5;
}
input:hover{
    opacity: .7;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    background-color: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
  outline: 0 none;
  transition: .3s;
  opacity: 1;
}

.search-select{
    padding: 5px;
    height: inherit;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: #ffffff;
    margin: 5px;
    text-align: center;
    border: 1px solid #2b2b2e;
    border-radius: inherit;
    width: 35px;
    opacity: .5;
}

.search-select:hover{
    opacity: 1;
}



.search-wrapper, .account-wrapper, .list-project{
    vertical-align: middle;
    background-color: #1b1b20;
    border: 1px solid #2b2b2e;
    height: inherit;
    cursor: pointer;
    
}

.list-project{
    background-color: #18181b; 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last:center;
    
}

.section{
    width: 100%;
    height: 100%;
    /* background-color: #16161a; */
}

.search-form{
    width: 50%;
}



.signup-section{
    background-color: white;
}

.signup-form{
    width: 50%;
}


.false{
    border: 1px solid #2b2b2e;
}

.status{
    width: 25%;
    height: 25px;
    border-radius: inherit;
    position: relative;
    font-size: 12px;
    line-height: 25px;
left: 10%;
top: 6px;
float: left;}

.false{
    width: 0px;
    left: 0%;
    overflow: hidden;
    border: 1px solid #ffffff00;
    background-color:rgba(158, 202, 162, 0);
    color: #ffffff00; 
}



.valid{
    border: 1px solid #008607;
    background-color:rgba(158, 202, 162, 0.788);
    color: #008607; 
}

.wrong{
    border: 1px solid #860000;
    background-color:rgba(231, 152, 152, 0.788);
    color: #860000;
}

.nav-link{
    border: 1px solid #9c9c9c;
    margin: 5px;
    color:#9c9c9c;
    background-color:rgba(226, 226, 226, 0.788);
    border-radius: 5px;
    opacity: .5;
}.nav-link:hover{
    color: inherit;
opacity: 1;

}

.regActive{
    border: 1px solid #0d6efd;
    color:#ffffff;
    background-color:#0d6dfdb0; 
    opacity: 1;
}



a,a:hover{
    cursor: pointer;
    color: inherit;
}

#root{
    height: 100vh;
    width: 100vw;;
}

.projects-library-wrapper{
    display: flex;
    background-color: #16161d;
    max-height: 100%;
}

.select-active{
    border: 1px solid #0d6efd;
    color:#ffffff;
    background-color:#0d6dfdb0; 
    color: white;
}

.list-project:hover{
    background-color: #1e1e27;
}

.project-tabs{
    max-height: 100%;
    overflow: scroll;
}
.regActive:hover, .select-active:hover{
    color: white;
    background-color:#0d6dfd;
}

.list-group, .project-tabs, #root{
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .signup-form{
        width: 100%;
    }

    .nav-logo{
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    .regActive{
        background-color:#0d6dfd;
        opacity: 1;
    }

    .search-form{
        width: inherit;
    }

    .project-search{
        display: none;
    }
    .projects-library-wrapper{
        display: block;
    }
    .project-tabs{
        max-height: 150px;
        overflow: scroll;
    }
  }